<!-- As a heading -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <!--  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Navbar</span>
  </div> -->
  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <a class="navbar-brand px-4" href="#">Header and Sidebar</a>
  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu 1 </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>

  </div>
 <!--  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form> -->
  <div class="profile-logo dropdown">
    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">{{funcionario.nombre}}</button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item"  routerLink="dashboard/profile" >Profile</a></li>
      <li><a class="dropdown-item" href="#" (click)="logOut()">Log Out</a></li>
    </ul>
  </div>

</nav>
