<div *ngIf="loading" class="container text-center" >
    <app-spinner></app-spinner>
  </div>
  <button class="btn btn-success" (click)="botonAddc()" nombre="add" id="add">+ area</button>
  <br><br>
  <div *ngIf="esconderAdd">
    <form action="">
      <input [(ngModel)]="nombre" placeholder="nombre" type="text" name="name" id="nuevoNombre">
      <br><br>
      <input [(ngModel)]="descripcion" placeholder="descripcion" type="text" name="descrip" id="nuevaDescripcion">
      <br><br>
      <br>
      <button (click)="addArea()">Guardar</button>
    </form>
  </div>
  <table *ngIf="!loading" class="table">
    <thead>
      <tr>
        <th scope="col">UID</th>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
        <th scope="col"></th>
        <th scope="col">Ver detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas">
        <td>{{area.uid}}</td>
        <td>{{area.id}}</td>
        <td>{{area.nombre}}</td>
        <td>{{area.descripcion}}</td>
        <td>
          <button class="btn btn-info" (click)="abrirFormularioParaEditar(area.uid!,area.nombre!,area.descripcion!)">Editar</button></td>
        <td><button class="btn btn-danger" (click)="eliminarArea(area.uid!)" nombre="delete" id="delete">eliminar</button></td>
        <th scope="row" class="text-center" > <a [routerLink]="['/dashboard/getarea',area.uid]"><i class="fa-solid fa-eye"></i></a> </th>
        <!--<div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Basura</option>
            <option value="2">Alumbrado</option>
            <option value="3">Basura</option>
            <option value="4">Basura</option>
          </select>
          <button class="btn btn-outline-secondary" type="button" id="button-addon2" >Filtrar</button>
        </div>-->
      </tr>
    </tbody>
  </table>
  <div *ngIf="formulario">
    <form action="">
      <input [(ngModel)]="nombre" placeholder="nuevo nombre" type="text" name="name" id="nuevoNombre">
      <br><br>
      <input [(ngModel)]="descripcion" placeholder="nueva descripcion" type="text" name="descrip" id="nuevaDescripcion">
      <br><br>
      <br>
      <button (click)="guardarCambios()">Guardar</button>
    </form>
  </div>
  
  